<div class="login-container d-flex  align-items-center">
  <div class="col-lg-6 col-sm-12">
    <div class="d-flex flex-column justify-content-center align-items-center text-dark">
      <img src="../../../assets/images/logo-crpped.png" alt="logo">
      <!-- <div class="form-group col"> -->
        <div class="d-flex flex-column justify-content-center align-items-center mb-2">
          <h4 class="mb-3">Welcome!</h4>
          <a class="text-warning">Sign in with your Google Account!</a>
        </div>
        <div class="mb-2 col-7">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" placeholder="name@example.com">
        </div>
        <div class="mb-2 col-7">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password">
        </div>
      <!-- </div> -->
    </div>
  </div>
</div>
